{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}

{% block encabezado %}<h1>{{ titulo }}</h1>{% endblock %}

{% block contenido %}
<h2>{{ mensaje }}</h2>
<div class="container">
  <div class="container">
    <a class="btn btn-info" href="{% url 'user_update' user %}">Modificar datos</a>
  </div>
  <div class="container">

    <div class=""><strong>{% trans 'Usuario' %}:</strong>
        {{ user.username }}</div>
    <div class=""><strong>{% trans 'Nombre' %}:</strong>
        {{ user.first_name }}</div>
    <div class=""><strong>{% trans 'Apellido' %}:</strong>
        {{ user.last_name }}</div>
    <div class=""><strong>{% trans 'E-mail' %}:</strong>
        {{ user.email }}</div>

    {% if  user.is_staff %}
    <div class=""><strong>{% trans 'Administrador?' %}:</strong>
        {% if  user.is_staff %} Sí {% else %} No {% endif %}</div>
    <div class=""><strong>{% trans 'Activo?' %}:</strong>
        {% if  user.is_active %} Sí {% else %} No {% endif %}</div>
    <div class=""><strong>{% trans 'Super usuario?' %}:</strong>
        {% if  user.is_superuser %} Sí {% else %} No {% endif %}</div>
    <div class=""><strong>{% trans 'Último ingreso' %}:</strong>
        {{ user.last_login|date:'d/m/Y H:i' }}</div>
    <div class=""><strong>{% trans 'Miembro desde' %}:</strong>
        {{ user.date_joined|date:'d/m/Y H:i' }}</div>
    {% endif %}
  </div>
  <div class="container">
    <div class="">
    <strong>Grupos:</strong>
        {% for item in user.groups.all %}
            <span>{{ item }}, </span>
        {% endfor %}
    </div>

  </div>
  <div class="container">
    <div class="">
    <strong>Permisos:</strong>
        {% for item in user.get_all_permissions %}
            <span>{{ item }}, </span>
        {% endfor %}
    </div>

  </div>
  <div class="container">
    <div class="">
        <strong>Estaciones:</strong>
        <span>{{ user.estaciones }}</span>
    </div>


  </div>
</div>

{% endblock %}
