{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}

{% block encabezado %}<h1>{% trans 'Actualización de datos' %}</h1>{% endblock %}
{% block contenido %}

<form action="" method="post">{% csrf_token %}

  {% for field in form %}

  <div class="form-group" id="{{ field.auto_id }}_container">
    <label for="{{ field.auto_id }}">{{ field.label_tag }}</label> {{field}}
    <p class="help-block">{{ field.help_text }}</p>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  
  {% endfor %}  

  <div class="form-group">
    <button type="submit" class="btn btn-default">{% trans 'Guardar' %}</button>
  </div>

</form>

{% endblock %}
