{% extends "base.html" %}
{% load i18n %}

{% block encabezado %}
<h1>{% trans "Muchas gracias!" %}</h1>
{% endblock %}</div>

{% block contenido %}
<p>{% trans "Tu cuenta ya está activa." %}</p>
{% endblock %}
