{% extends "base.html" %}
{% load i18n %}

{% block encabezado %}
<h1>{% trans "Hubo un problema" %}</h1>
{% endblock %}

{% block contenido %}
<p>{% trans "No se ha podido activar tu cuenta." %}</p>
{% endblock %}
