{% extends "base.html" %}

{% load i18n %}

{% load add_attr %}

{% block encabezado %}<h1>Registro de usuario</h1>{% endblock %}</div>

{% block contenido %}

<form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}

  <div class="form-row">
  {% for field in form %}

  <div class="form-group col-md-6" id="{{field.auto_id}}_container">
    <label for="{{field.auto_id}}">{{field.label_tag}}</label>
    {{field|add_attr:"class:form-control"}}
    <small class="form-text text-muted">{{field.help_text}}</small>
    {% if field.errors %}
    <div id="{{field.auto_id}}_errors" class="alert alert-danger" role="alert">
      {{field.errors}}
    </div>
    {% endif %}
  </div>

  {% endfor %} 

  <div class="form-group">
    <button type="submit" class="btn btn-success">
        {% trans 'Enviar' %}
    </button>
  </div>

</form>

{% endblock %}
