{% extends "base.html" %}
{% load i18n %}

{% block encabezado %}
<h1>Registro completo!</h1>
{% endblock %}</div>

{% block contenido %}
<p>{% trans "Felicitaciones! Ya estás registrado." %}</p>
<p>{% trans "Te enviamos un correo para activar tu cuenta y terminar el proceso." %}</p>
<p>{% trans "Si tenes alguna consulta, no dudes en ponerte en contacto con nosotros " %}
<a href="{% url 'contact'%}">por acá</a>.
</p>
{% endblock %}
