{% extends "base.html" %}
{% load i18n %}

{% block encabezado %}
<h1>{% trans "Hubo un problema" %}</h1>
{% endblock %}

{% block contenido %}
<p>{% trans "En este momento no es posible registrarse." %}
{% trans "En breve tendremos disponible el formulario de registro." %}</p>
<p>{% trans "Si tenes alguna consulta, no dudes en ponerte en contacto con nosotros " %}
<a href="{% url 'contact'%}">por acá</a>.
</p>
{% endblock %}
