{% load staticfiles %}{% load i18n %}<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="GuglerLab">

    <link rel="icon" href="{% static 'img/favicon.png' %}">

    <title>{% block titulo %}{{ verbose_name }}{% endblock %}</title>

<!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <script defer src="{% static 'fontawesome/js/fontawesome-all.min.js' %}"></script>

<!-- Custom styles for this template -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
</head>

<body>
    {% block menu_principal %}{% include 'climapp/menu_principal.html'%}{% endblock %}
</br>
    <main role="main" class="container">
    {% block container %}
    {% block encabezado %}<h1>Bienvenido!</h1>{% endblock %}</div>
    {% block contenido %}{% endblock %}
    {% endblock %}
    </main>

    <footer style="display: none;">
        <p>{{credits}}</p>
    </footer>

<!-- Bootstrap core JavaScript -->
<!-- Placed at the end of the document so the pages load faster -->

    <script src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
<!--<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>-->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</body>
</html>
