{% load staticfiles %}
{% load i18n %}

{% if form_buscar %}
<form class="form-inline mt-2 mt-md-0" action="" method="get">
  <input class="form-control mr-sm-2" type="text" name="q" value="{{q}}" 
      placeholder="{% trans 'Buscar' %}" aria-label="{% trans 'Buscar' %}">
  <button class="btn btn-outline-success my-2 my-sm-0" type="submit">
      {% trans 'Buscar' %}</button>
</form>
{% endif %}
