{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block menu_principal %}
  {% include 'climapp/menu_principal.html'%}
{% endblock %}

{% block encabezado %}

<h1>Bienvenido a {{verbose_name}}!</h1>
{% if not user.is_authenticated or not user.estaciones %}

{% for texto in description %}
    <p>{{texto}}</p>
{% endfor %}

Versión Actual: {{label}} {{animal_name}} {{version}}

<!--
<p>En este sitio podr&aacute; realizar la visualizaci&oacute;n de los datos
cargados en el sitio administrativo.</p>
-->

<!--
<p>Puede ingresar por <a href="{% url 'admin:login' %}?next={%url 'home'%}">
aqu&iacute;</a></p>
-->
{% else  %}
<h4>Tu estación es:</h4>
<div class="">{{ user.estaciones }}</div>
<h4>Los últimos registros son:</h4>
<table class="table table-condensed">
    <tr>
        <th>Fecha</th>
        <th>Dirección del viento</th>
        <th>Temperatura</th>
        <th>Humedad</th>
        <th>Punto de rocío</th>
        <th>Luxer UV</th>
    </tr>
{% for reg in user.estaciones.ultimos_registros %}
    <tr>
        <td>{{reg.fecha}}</td>
        <td>{{reg.viento_direccion_nombre}}</td>
        <td>{{reg.temperatura_externa}}</td>
        <td>{{reg.humedad_externa}}</td>
        <td>{{reg.punto_de_rocio}}</td>
        <td>{{reg.luxer_uv}}</td>
    </tr>
{% endfor %}
</table>
{% endif %}


{% endblock %}
