{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block encabezado %}{% endblock %}

{% block contenido %}

<!--
TODO hay que mejorar html
-->
<h1>{% trans 'Estaciones disponibles' %}</h1>

<div class="list-group">
{% for station in station_list %}{% if station.registros.count > 0 %}
    <a class="list-group-item list-group-item-action 
        {% if station.estado != 'En línea'%}list-group-item-warning{%endif%}" 
        href="{% url 'station_detail' station.id_estacion %}">
        {{station}}
        <strong>Último registro:</strong>
        <span class="">
            {{station.fecha_ultimo_registro|naturaltime}}
        </span>
    </a>
{% endif %}{% endfor %}
</div>

{% endblock %}
