{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}

{% block encabezado %}<h1>{% trans 'Registrar estación' %}</h1>{% endblock %}
{% block contenido %}

<form action="" method="POST">{% csrf_token %}

  <div class="form-row">
  {% for field in stationform %}

  <div class="form-group col-md-6" id="{{ field.auto_id }}_container">
    <label for="{{ field.auto_id }}">{{ field.label_tag }}</label> {{field}}
    <p class="help-block">{{ field.help_text }}</p>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>

  {% endfor %}
  </div>

  {% if userform.non_field_errors %}
    <ul>
      {% for error in form.non_field_errors %}
        <li>{{ error }}</li>
      {% endfor %}
    </ul>
  {% endif %}

  <div class="form-group">
    <button type="submit" class="btn btn-default">
        {% trans 'Enviar datos de registro' %}</button>
  </div>

</form>

{% endblock %}
