{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}

{% block encabezado %}{% endblock %}

{% block contenido %}

<h2>{{station}} ({{station.estado}})</h2>

<div class="container">
{% if station.id_usuario == user %}
  <div class="container">
    <a class="btn btn-info" href="{% url 'station_update' station.pk %}">
        Modificar datos de la estación</a>
    <a class="btn btn-info" href="{% url 'get_con_llave' station.clave_lectura %}">
        Clave de lectura</a>
    <a class="btn btn-info" href="{% url 'post_llave' station.clave_escritura %}">
        Clave de escritura</a>
  </div>
{% endif %}

<h3>Último registro</h3>

<div class="container">
<div class="row">
    <div class="col-md-3 card"><strong>Fecha: </strong>
        {{station.ultimo_registro.fecha}}
    </div>
    <div class="col-md-3 card"><strong>Temperatura: </strong>
        {{station.ultimo_registro.temperatura_externa}} ºC
    </div>
    <div class="col-md-3 card"><strong>Humedad: </strong>
        {{station.ultimo_registro.humedad_externa}} %
    </div>
    <div class="col-md-3 card"><strong>Presión absoluta: </strong>
        {{station.ultimo_registro.presion_absoluta}} Hpa
    </div>
    <div class="col-md-3 card"><strong>Presión relativa: </strong>
        {{station.ultimo_registro.presion_relativa}}
    </div>

    <div class="col-md-3 card"><strong>Luxer intencidad: </strong>
        {{station.ultimo_registro.luxer_intencidad}} Klux
    </div>
    <div class="col-md-3 card"><strong>Luxer UV: </strong>
        {{station.ultimo_registro.luxer_uv}} UV
    </div>

    <div class="col-md-3 card"><strong>Punto de rocío: </strong>
        {{station.ultimo_registro.punto_de_rocio}}
    </div>
    <div class="col-md-3 card"><strong>Rafagas: </strong>
        {{station.ultimo_registro.viento_rafagas}} Km/h
    </div>
    <div class="col-md-3 card"><strong>Direccion: </strong>
        {{station.ultimo_registro.viento_direccion_nombre}}
    </div>
    <div class="col-md-3 card"><strong>Dirección: </strong>
        {{station.ultimo_registro.viento_direccion}}
    </div>
    <div class="col-md-3 card"><strong>Velocidad: </strong>
        {{station.ultimo_registro.viento_velocidad}} Km/h
    </div>
    <div class="col-md-3 card"><strong>Presión relativa: </strong>
        {{station.ultimo_registro.presion_relativa}}
    </div>

    <div class="col-md-3 card"><strong>Temperatura interna: </strong>
        {{station.ultimo_registro.temperatura_interna}} ºC
    </div>
    <div class="col-md-3 card"><strong>Humedad interna: </strong>
        {{station.ultimo_registro.humedad_interna}} %
    </div>
    <div class="col-md-3 card"><strong>Software: </strong>
        {{station.ultimo_registro.software}}
    </div>

    <div class="col-md-3 card"><strong>Lluvia actual: </strong>
        {{station.ultimo_registro.lluvia_actual}} mm
    </div>
    <div class="col-md-3 card"><strong>Lluvia acumulado hora: </strong>
        {{station.ultimo_registro.lluvia_acumulado_hora}} mm
    </div>
    <div class="col-md-3 card"><strong>Lluvia acumulado día: </strong>
        {{station.ultimo_registro.lluvia_acumulado_diario}} mm
    </div>
    <div class="col-md-3 card"><strong>Lluvia acumulado semana: </strong>
        {{station.ultimo_registro.lluvia_acumulado_semanal}} mm
    </div>
    <div class="col-md-3 card"><strong>Lluvia acumulado mes: </strong>
        {{station.ultimo_registro.lluvia_acumulado_mensual}} mm
    </div>
    <div class="col-md-3 card"><strong>Lluvia acumulado año: </strong>
        {{station.ultimo_registro.lluvia_acumulado_anual}} mm
    </div>
</div>

</div>

</div>

{% endblock %}
