{% extends "admin/login.html" %}
{% load i18n static %}

{% block sidebar %}
  <div class="submit-row">
    <label>&nbsp;</label>
    <a href="{% url 'django_registration_register' %}" type="submit">
        {% trans 'Registrarme' %}
    </a>
  </div>
{% endblock %}
