{% load i18n %}<html>
<body style="font-family: Arial, Helvetica, sans-serif;">
<p>Estimado {{object.id_usuario.first_name}} {{object.id_usuario.last_name}}, propietario de la estación meteorológica
personal <strong>"{{object.nombre}}"</strong> en nuestros servidores, te informamos que:</p>

<p style="color: orange">
Tu estación ha dejado de enviarnos observaciones meteorológicas a nuestro 
servidor EMA Libre Center por más de <strong>{{horas}} horas</strong>.
</p>

<p>Según nuestros registros, no hemos recibido ninguna observación desde el 
{{object.fecha_ultimo_registro}} hs. y te queremos de regreso!</p>

<p>Por ello te solicitamos que revises tu estación meteorológica y/o software para 
volver a estar en línea, a continuación, te brindamos algunas recomendaciones:</p>
<ul>
<li>Analizá que la unidad esté encendida, y además verificá que los sensores no 
estén obstruidos, y que la estación tenga baterías y/o el panel solar 
correctamente funcionando.</li>
<li>Verificá la conectividad hacia Internet, específicamente hacia el sitio 
productivo de Ema Libre Center.</li>
<li>Reinicia el software de recolección, pero antes desconecta y conecta la unidad 
receptora.</li>
</ul>
<p>Si estos consejos no resuelven su problema, puedes solicitarnos asistencia a 
través de los medios de contacto de nuestros sitios oficiales.</p>

<p>Finalmente te avisaremos felizmente por este mismo medio cuando tu estación nos 
envíe una observación meteorológica nuevamente. </p>

<p>Desde ya muchas gracias por confiar en nosotros!</p>

<p>Saludos Cordiales</p>

<p>Laboratorio de Investigación Gugler. </br>
Equipo de Desarrollo del Proyecto de EMA Libre.</p>
</body>
</html>
