{% load i18n %}<html>
<body style="font-family: Arial, Helvetica, sans-serif;">
<p>
Estimado {{object.id_usuario.first_name}} {{object.id_usuario.last_name}}, 
propietario de la estación meteorológica personal 
<strong>"{{object.nombre}}"</strong> en nuestros servidores, te informamos que:
</p>

<p style="color: green">
Felicidades! Tu estación meteorológica personal volvió a estar en línea en 
nuestro servidor EMA Libre Center.
</p>

<p>Según nuestros registros, has vuelto a enviarnos datos de la estación merereológica el <strong>{{object.fecha_ultimo_registro}} hs.</strong></p>

<p>Desde ya muchas gracias por confiar en nosotros!</p>

<p>Saludos Cordiales</p>

<p>Laboratorio de Investigación Gugler. </br>
Equipo de Desarrollo del Proyecto de EMA Libre.</p>
</body>
</html>
