{% load i18n %}<html>
<body style="font-family: Arial, Helvetica, sans-serif;">
<p>
Estimados, comunicamos el Ranking Uptime del día 
{% with object|first as ganador %}<b>{{ ganador.dia|date:"d/m/Y" }}: </b>
<p style="color: green">
Felicitaciones!!! a la estación meteorológica personal 
<strong>** {{ganador.id_estacion__nombre}} **</strong> 
ganadora del primer puesto en nuestro ranking. </p>
{% endwith %}

A continuación la tabla completa del RANKING UPTIME: </p>

<table style="">
<tr style="background-color: gray;">
    <th>Puesto</th>
    <th>Usuario</th>
    <th>Estación</th>
    <th>Con tanque</th>
    <th>Uptime (con tanque)</th>
    <th>Sin tanque</th>
    <th>Uptime (sin tanque)</th>
    <th>Cantidad Registros</th>
</tr>

{% for dato in object %}
<tr style="{% if forloop.counter == 1%}color: green{%endif%}">
    <th>{{forloop.counter}}</th>
    <th>{{dato.id_estacion__id_usuario__username}}</th>
    <td>{{dato.id_estacion__nombre}} ({{dato.id_estacion__ciudad}}, 
        {{dato.id_estacion__pais}})</td>
    <td style="text-align:center;">{{dato.cantidad_con_tanque}}</td>
    <td style="text-align:center;">{{dato.uptime_con_tanque|floatformat:2}} %</td>
    <td style="text-align:center;">{{dato.cantidad_sin_tanque}}</td>
    <td style="text-align:center;">{{dato.uptime_sin_tanque|floatformat:2}} %</td>
    <td style="text-align:center;">{{dato.cantidad_registros}}</td>
</tr>
{% endfor %}

</table>

<p>Desde ya muchas gracias por confiar en nosotros!</p>

<p>Saludos Cordiales</p>

<p>Laboratorio de Investigación Gugler. </br>
Equipo de Desarrollo del Proyecto de EMA Libre.</p>
</body>
</html>
