{% load rest_framework %}
<div class="row coredocs-link">

<div class="col-md-8 docs-content">
    <h3 id="{{ section_key }}-{{ link_key|slugify }}"
        class="coredocs-link-title">{{ link.title|default:link_key }}
        <a href="#{{ section_key }}-{{ link_key|slugify }}">
            <i class="fa fa-link" aria-hidden="true"></i>
</a></h3>

    <div class="meta">
        <span class="label label-primary">{{ link.action|upper }}</span>
        <code>{{ link.url }}</code>
    </div>

    <p>{% render_markdown link.description %}</p>

{% if link.fields|with_location:'path' %}
    <h4>Parámetros</h4>
    <table class="parameters table table-bordered table-striped">
        <thead>
            <tr><th>Parametro</th>
                <th>Donde</th>
                <th>Tipo</th>
                <th>Descripción</th></tr>
        </thead>
        <tbody>
            {% for field in link.fields|with_location:'path' %}
            <tr>
                <td class="parameter-name">
                <code>{{ field.name }}</code>{% if field.required %}
                <span class="label label-warning">required</span>{% endif %}
                </td>
                <td class="parameter-name"><code>{{ field.location }}</code></td>
                <td class="parameter-name"><code>{{ field.type }}</code></td>
            <td>{% if field.schema.description %}
                {{ field.schema.description|safe }}
                {% endif %}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</div>

</div>
