{% extends "home.html" %}
{% load staticfiles %}
{% load i18n %}
{% load add_attr %}

{% block encabezado %}<h1>{% trans 'Datos de la estación' %}</h1>{% endblock %}

{% block contenido %}

<div class="container">
<form action="" method="post" class="form-horizontal" role="form">{% csrf_token %}

  <div class="form-row">
  {% for field in form %}

  <div class="form-group col-md-6" id="{{ field.auto_id }}_container">
    <label for="{{ field.auto_id }}">{{ field.label_tag }}</label> 
    {{field|add_attr:"class:form-control"}}
    <p class="help-block">{{ field.help_text }}</p>
    <div id="{{ field.auto_id }}_errors">
      {{ field.errors }}
    </div>
  </div>
  
  {% endfor %} 
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-default">
        {% trans 'Guardar' %}
    </button>
  </div>

</form>
</div>
{% endblock %}
