{% load staticfiles %}
{% load i18n %}

<div class="container">
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">        
      <a class="navbar-brand" href="{% url 'home' %}">
          {% trans 'EMA Libre Center'%}
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarCollapse" aria-controls="navbarCollapse" 
        aria-expanded="false" aria-label="{% trans 'Navegación' %}">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">

{% if opciones_menu or opciones_menu is None  %}
        {% if user.is_authenticated %}
        {% if  user.estaciones %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'station_detail' user.estaciones.id_estacion %}">
                {% trans 'Mi estación'%}</a></li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'registro' %}">
                {% trans 'Registrar estación'%}</a></li>
        {% endif %}
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'django_registration_register' %}">
                {% trans 'Registrarme'%}</a></li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'station_list' %}">
            {% trans 'Estaciones'%}</a></li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">{% trans 'Contacto'%}</a></li>
{% endif %}

    {% if user.is_authenticated %}
      <ul class="nav navbar-nav">
        {% block menu_otros %}{% endblock %}
      </ul>
    {% endif %}
        </ul>
    {% block form_busqueda %}
      {% include 'form_search.html'%}
    {% endblock %}
  
        <ul class="navbar-nav navbar-brand">
        {% if user.is_authenticated %}
            <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="drdw_user" 
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {{ user.username }}</a>
            <div class="dropdown-menu" aria-labelledby="drdw_user">
              <a class="dropdown-item" 
                href="{% url 'user_info' %}">
                  {% trans 'Mi cuenta' %}</a>
              {% if user.is_superuser %}
              <a class="dropdown-item" 
                href="{% url 'admin:index' %}">
                  {% trans 'Ir al admin' %}</a>
              {% endif %}
              <a class="dropdown-item" 
                href="{% url 'admin:logout' %}?next={%url 'home'%}">
                  {% trans 'Cerrar sesión' %}</a>
            </div>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" 
                  href="{% url 'admin:login' %}?next={%url 'home'%}" class="">
                    {% trans 'Ingresar' %}</a></li>
        {% endif %}
        </ul>

      </div>
    </nav>
</div>
