{% extends "base.html" %}
{% load staticfiles %}
{% load i18n %}

{% block mensaje_principal %}<h1>{% trans 'Ingresar' %}</h1>{% endblock %}
{% block encabezado %}{% endblock %}
{% block contenido %}
<br/>
<br/>
{% if form.errors %}
<p>{% trans "El usuario y/o clave no son correctos. Por favor, inténtelo nuevamente" %}</p>
{% endif %}


    <div class="container">

        <h2 class="form-signin-heading">{% trans 'Acceda a ' %}</h2>

    <form class="form-horizontal" role="form" method="post"
        action="{% url 'login' %}">{% csrf_token %}
        <div class="form-group">
            <label for="username" class="col-sm-2 control-label">
                {% trans 'Usuario' %}</label>
            <div class="col-sm-3">
                <input id="username" name="username" type="text"
                    class="form-control" placeholder="{% trans 'Usuario' %}"
                    required autofocus>
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-2 control-label">
                {% trans 'Clave' %}</label>
            <div class="col-sm-3">
                <input id="password" name="password" type="password"
                    class="form-control" placeholder="{% trans 'Clave' %}"
                    required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <div class="checkbox">
                    <label>
                        <input type="checkbox"> {% trans 'Recuerdame' %}
                    </label>
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-3">
                <button class="btn btn-primary btn-block" type="submit">
                    {% trans 'Ingrese' %}</button>
            </div>
        </div>

        <input type="hidden" name="next"
            value="{% if next %}{{ next }}{% else %}{% url 'home' %}{% endif %}" />

    </form>

    </div> <!-- /container -->

</form>

{% endblock %}
