/*
    Prueba de css con django 1.8
*/

body{
    padding-top: 50px;
    padding-bottom: 20px;
}

#div-cuerpo {
    margin: 0px auto;
}

#div-encabezado {
    background-color: #4682B4;
    padding: 5px 15px;
}

#div-vinculos {
    padding: 5px 10px;
    background-color: #B0E0E6;
    height: 20px;
}

#div-navegacion {
    padding: 5px 10px;
    background-color: #B0C4DE;
    float: left;
    width: 150px;
/*
    height: 300px;
*/
}

#div-contenido {
    padding: 5px 10px;
    background-color: #F8F8FF;
    float: left;
    width: 780px;
/*
    height: 300px;
*/
}

#div-pie {
    padding: 5px 10px;
    background-color: #008B8B;
}

footer {
    bottom: 0;
    position: absolute;
    height: 30px;
}
